.header {
  align-items: center;
  background: #8f57fd;
  color: white;
  display: flex;
  height: 100px;
  justify-content: space-between;
  top: 0;
  width: 100%;

  &__img {
    margin-left: 30px;
    width: 200px;
  }

  &__menu {
    margin-right: 30px;

    ul {
      display: none;
      list-style: none;
      margin: 0 0 0 -14px;
      padding: 0;
      position: absolute;
      text-align: right;
      width: 100px;

      &:hover {
        display: block;
      }
    }

    &:hover ul {
      display: block;
    }

    li {
      margin: 10px 0;

      a {
        color: white;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    &--profile {
      align-items: center;
      cursor: pointer;
      display: flex;

      img {
        margin-right: 8px;
        width: 40px;
      }
    }
  }
}